@font-face {
  font-family: "PlusJakartaSans";
  src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "PlusJakartaSans";
}

body {
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
}

.container {
  width: 95%;
  margin: 1em auto;
  max-width: 768px;
}

p {
  color: rgb(148, 148, 148);
}

.notify {
  border-radius: 0.5rem;
  padding: 0.5em;
  margin-bottom: 1em;
}

.new,
.new p,
.new img,
.new span {
}

.username {
  font-weight: 900;
  color: #000;
}

.notify p {
  display: inline;
}

.header {
  margin-bottom: 1.5em;
}

.header h1 {
  display: inline;
  font-size: 1.2rem;
}

.header p {
  cursor: pointer;
  float: right;
  margin: 5px;
}

.header p:hover {
  color: darkblue;
}

span.dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: red;
  margin-left: 0.3em;
}

.header span {
  color: hsl(0, 0%, 100%);
  padding: 3px 13px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  font-weight: 900;
  background-color: darkblue;
  margin-left: 0.5em;
}
.notify span.noti_time {
  display: block;
  margin: 0.3em 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.notify div {
  display: flex;
}

.notify img {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em;
}
div.private_msg {
  padding: 1rem;
  margin-left: 3.5em;
  border: 1px solid #dad9d9;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
}

div.private_msg:hover,
div.private_msg:focus {
  cursor: pointer;
  border: none;
  background-color: hsl(211, 68%, 94%);
  border: 1px solid #fff;
}

.club_img {
  float: right;
}

.club {
  color: darkblue;
  font-weight: 700;
}
.post {
  font-weight: 700;
  color: #626262;
}
.highlight,
.post {
  cursor: pointer;
}

.highlight:hover,
.post:hover {
  color: darkblue;
}

p.smith-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

p.smith-container img:hover {
  cursor: pointer;
  border: 2px solid hsl(211, 68%, 94%);
  box-sizing: border-box;
  border-radius: 5px;
}

.span-text {
  display: block;
  width: 80%;
}

.notify .new {
  background-color: hsl(210, 60%, 98%);
  padding: 0.5em 0;
  border-radius: 0.3rem;
}

.notify.new {
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  .container {
    border-radius: 1em;
    margin-top: 2.5rem;
    box-shadow: 5px 5px 100px hsl(211, 68%, 94%);
    padding: 2em;
  }
}
